<% show_post_title ||= false %>
<% comments.each do |comment| %>
  <div class='span8 well well-small'>
    <p>
      "<em><%= comment.body %></em>"
      <% if show_post_title %>
        on <%= link_to comment.post.title, post_path(comment.post) %>
      <% end %>
    </p>
    <p><%= render 'shared/footer', item: comment %></p>
  </div>
<% end %>
