<div class='span0 well text-center'>
  <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
    <i class='icon-arrow-up'></i>
  <% end %>
  <br>
  Vote
  <br>
   <%= link_to '' do %>
    <i class='icon-arrow-down'></i>
  <% end %>
</div>
